/* general styles */

/*html,*/
@import url(<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>);
body {
  height: 100%;
  width: 100%;
  font-family: 'Poiret One', cursive;
}
a{
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
 font-family: 'Poiret One', cursive; 
}

p{
  font-size: 1.3em;
}


/* padded section */

.pad-section { padding: 100px 50px; }
.pad-section img { border-radius: 100px; box-shadow: 1px 1px 38px black; }
.pad-section h2{ padding: 20px 0;
}

/* vertical-centered text */

.text-vcenter {
  background-color: rgba(0, 0, 0, 0.39);
  text-align: center;
  /*vertical-align: middle;*/
  
}

/*.text-vcenter h1 {
  font-size: 54px;
    font-family: "OpenSans-Bold";
    letter-spacing: 20px;
  position: relative;
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  z-index: 100;
}*/



/* additional sections */

#box1 {
  background: url(../img/intro-hero.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    /* display: table; */
    height: 622px;
    width: 100%;
    /* padding: 0px 192px; */
    /* padding-bottom: 264px; */
    padding-top: 206px;
}

#dos
{
  display: inline-block;
    border: 1px solid white;
    margin-bottom: 21px;
    border-radius: 100px;
    background: transparent;
    color: white;
    padding: 58px 2px;
    box-shadow: 1px 1px 62px white;
    width: 13%;
    height: 170px;
    font-family: 'Happy Monkey', cursive;
    font-size: 34px;
    -webkit-transition: all .5s ease-in;
    cursor: pointer;
}
#dos:hover
{
  width:40%;
  box-shadow:1px 1px 10px rgba(0,0,0,1);
  -webkit-transform:rotate(360deg) scale(0.4);
}


/*#box1 .overlay-banner3 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
}*/

#sobre-mi {
  background-color: white;
  color: #8E8B8B;
  height: 100%;
}

section.module.content {
    padding: 10% 0;
 }   
.como-lo-hago {
    height: 20em;
}

.bordeado {
    border: 2px solid #aaa;
}
section.
section.module h2 {
    font-size: 30px;
    text-align: center;
}
.titulo-centrado {
    position: relative;
    background-color: white;
    top: -1em;
    margin: 0px auto;
    width: 70%;
    height: 2em;
    text-align: center;
}


#box3 {
  background-image:url(../img/habilidades.jpg);
  background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    height: 600px;
}

/*#box3 img{
  width: 100%;
  
  background-size: cover;
  background-position: fixed;
}


/*#box3 .overlay-banner3 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
}
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
body{
  margin:0;
  width:100%; 
  height:100vh;
  overflow:hidden;
  background:hsla(0, 5%, 5%, 1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right top, hsla(0, 5%,15%, 0.5), hsla(0, 5%, 5%,1));
}
svg{
  padding-left: 125px;
}*/

footer { background-color:black; padding: 20px 0; }

footer .glyphicon {
  color: #333333;
  font-size: 60px;
}

footer .glyphicon:hover { color: #EE2E24; }

.goToTop {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}
.navbar-default {
        background-color: #0C0C0C;
    border-color: transparent;
    border-radius: 0;
    padding-top: 20px;
    margin: 0;
}

.navbar-nav{
  background-color: black;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 21px;
}


nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
}

nav li { background: black; }
